{% extends 'base.html' %}

{% block conteudo %}



<h1 class="titulo">{{id_cliente.title()}}, seu pedido foi realizado com sucesso:</h1>

<h2 class="titulo ">Dados do Pedido:</h2>
  <table class="table icone_carrinho centralizarcarrinho">
    <thead>
      <tr>
        <th scope="col">Nº do Pedido</th>
        <th scope="col">Valor do Pedido</th>
        <th scope="col">Data do Pedido</th>
        <th scope="col">Cliente</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{dados_do_pedido.numero_pedido}}</td>
        <td>R$ {{dados_do_pedido.valor}},00</td>
        <td>{{dados_do_pedido.data_pedido}}</td>
        <td>{{dados_do_pedido.id_cliente.title()}}</td>
        <td>{{dados_do_pedido.status.title()}}</td>
      </tr>
    </tbody>
  </table>

<h2 class="titulo ajustar">Dados Pessoais:</h2>
  <table class="table centralizarcarrinho ajustar ">
    <thead>
      <tr>
        <th scope="col">Apelido</th>
        <th scope="col">Email</th>
        <th scope="col">Endereço</th>
      </tr>
    </thead>
    {% for i in cliente %}
    <tbody>
      <tr>
        <td>{{i[0].apelido}}</td>
        <td>{{i[0].email}}</td>
        <td>{{i[0].end}}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>



<h2 class="titulo ajustar">Produtos:</h2>
  <table class="table centralizarcarrinho ajustar ">
    <thead>
      <tr>
        <th scope="col">Produto</th>
        <th scope="col">Nome</th>
        <th scope="col">Descrição</th>
         <th scope="col">Preço</th>
      </tr>
    </thead>
    {% for i in produtos %}
    <tbody>
      <tr>
        <th ><img class="icone_carrinho rounded-circle"  src="\static\{{i[0].imagem}}" alt=""></a></th>
        <td>{{i[0].nome}}</td>
        <td>{{i[0].descricao}}</td>
        <td>R$ {{i[0].preco}},00</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>

<div class="ajustar titulo">
  <a href="{{url_for('homepage', id_cliente=id_cliente)}}" class="btn btn-outline-dark ajustar"> Voltar ao início</a>
</div>
  {% endblock %}