{% extends 'base.html'%}

{% block conteudo %}

<form action="{{url_for('editar', id_cliente=id_cliente)}}" method="POST" enctype="multipart/form-data" class="bg bg-{{cor_fundo}} centralizar">
		<div  class="form-group ">
            <div  class="mb-3 separar">
                <label for="formFile" class="form-label separar"><h1>Editar imagem Principal:</h1></label>
                  <input class="form-control" type="file" id="formFile" name="upload">
            </div>

        </div>

		<p></p>
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="submit" class="btn btn-outline-primary">Adicionar</button>
        </div>
</form>

{% endblock %}