{% extends "base.html" %}

{% block conteudo%}

<h1 class="titulo" xmlns="http://www.w3.org/1999/html">Login</h1>



{%- for mensagem in get_flashed_messages() %}
                {% if 'senha' in mensagem or 'Nenhum' in mensagem%}
                    <div class="alert alert-danger text-center ">
                        {{mensagem}}
                    </div>
                {% endif %}
              {%- endfor %}

<form action="{{url_for('login', id_cliente=id_cliente)}}" class=" centralizar" method="POST">
  <div class="mb-1  ">
    <label  class="form-label text-center">Email</label>
    <input type="email" class="form-control " name="email" aria-describedby="emailHelp" required>
    <div   class="form-text">Digite aqui um email válido.</div>
  </div>
  <div class="mb-1">
    <label class="form-label">Senha</label>
    <input type="password" class="form-control" name="senha" required>
  </div>
  <br>
    <a type="button" href="{{url_for('login', id_cliente=id_cliente)}}">
            <button class="btn btn-outline-success">Entrar</button>
            </a>
  {% if id_cliente == 'Efetue o Login!' %}
    <div class="mb-1 separar" >
        <br>
        <h5><a  href="{{url_for('cadastrar_cliente', id_cliente=id_cliente)}}">Ainda não é cadastrado?</a></h5>
</div>
  {% endif %}
</form>



    {% endblock %}