{% extends "base.html" %}

{% block conteudo %}

 <h1 class="titulo">Minhas compras</h1>
<table class="table centrovalidar">
  <thead>
    <tr>

      <th scope="col"  >Produtos</th>
      <th scope="col" >N° Pedido</th>
      <th scope="col">Cliente</th>
      <th scope="col">Valor do Pedido</th>
      <th scope="col">Data Pedido</th>
        <th scope="col">Status</th>
    </tr>
  </thead>

     {% for i in lista_pedidos %}
        {% if id_cliente == i.id_cliente %}

  <tbody>
    <tr>



        <td width="100px" ><details><summary>Ver Produtos</summary>
                {% for x in pedidos %}
                    {% if i.numero_pedido == x[0].numero_pedido %}
                        {% for j in produtos %}
                            {% if x[0].id_produto == j[0].id_produto %}


                                {{j[0].nome.title()}}
                                <img class="icone_carrinho rounded-circle"  src="\static\{{j[0].imagem}}" alt="">


                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}

        </details> </td>

      <td>{{i.numero_pedido}}</td>
      <td>{{i.id_cliente}}</td>
      <td>R$ {{i.valor}},00</td>
      <td>{{i.data_pedido}}</td>



          {% if i.status == 'Preparando' %}
        <td width="230px" ><mark class="rounded bg-primary text-light ">{{i.status}}</mark></td>
      {% endif %}


           {% if i.status == 'Saiu p/ Entrega' %}
        <td width="230px" ><mark class="rounded bg-warning text-light ">{{i.status}}</mark></td>
      {% endif %}


       {% if i.status == 'Finalizado' %}
        <td width="230px" ><mark class="rounded bg-success text-light ">{{i.status}}</mark></td>
      {% endif %}

      {% if i.status == 'Cancelado' %}
        <td width="230px" ><mark class="rounded bg-danger text-light ">{{i.status}}</mark></td>
      {% endif %}

      <td>

      </td>
    </tr>

  </tbody>
{% endif %}


    {% endfor %}

</table>

{% endblock%}