{% extends "base.html" %}

{% block conteudo %}

 <h1 class="titulo">Controle dos Pedidos</h1>

<table class="table centralizartable">
  <thead>

  {%- for mensagem in get_flashed_messages() %}
                {% if 'com' in mensagem or 'ADM' in mensagem %}
                    <div class="alert alert-danger text-center ">
                        {{mensagem}}
                    </div>
                {% endif %}
              {%- endfor %}

    <tr>

      <th width="200px" class="" scope="col">Nº Pedido</th>
        <th scope="col">Valor Total</th>
        <th width="100px" scope="col">Data/Pedido</th>
      <th scope="col" width="100px">Produtos</th>
      <th scope="col">Cliente</th>
        <th width="300px" scope="col">Endereço do Cliente</th>
         <th scope="col">Status</th>
     <th width="250px" scope="col">Atualização do Status</th>
    </tr>
  </thead>

     {% for i in lista_pedidos %}


  <tbody>
    <tr>

      <td>{{i['numero_pedido']}}</td>
        <td width="200px" >R$ {{i['valor']}},00</td>
        <td width="100px" >{{i['data_pedido']}}</td>

                <td width="100px" >
                {% for pedido in pedidos %}
                    {% if i['numero_pedido'] == pedido[0].numero_pedido %}
                        {% for produto in produtos %}
                            {% if pedido[0].id_produto == produto[0].id_produto %}

                                <ol>{{produto[0].nome.title()}}</ol>

                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}

                </td>



      <td>{{i['id_cliente'].title()}}</td>

        {% for j in endereco  %}
            {% if i['cep'] == j[0].cep_cliente and i['id_cliente'] == j[0].id_cliente %}

        <td width="300px"><details>
            <summary>Clique para ver o Endereço Cadastrado</summary>
            Cep: {{i['cep']}}<br>
            Estado: {{j[0].estado}}<br>
            Cidade: {{j[0].cidade}}<br>
            Bairro: {{j[0].bairro}}<br>
            Logradouro: {{j[0].logradouro}}<br>
            complemento: {{j[0].complemento}}<br>
            </details>
        </td>

            {% endif %}
        {% endfor %}

        {% if i['status'] == 'Preparando' %}
        <td width="300px" ><mark class="rounded bg-primary text-light ">{{i['status']}}</mark></td>
      <td>
          {% endif %}
          {% if i['status'] == 'Saiu p/ Entrega' %}
        <td width="230px" ><mark class="rounded bg-warning text-light ">{{i['status']}}</mark></td>
      <td>
          {% endif %}
           {% if i['status'] == 'Finalizado' %}
        <td width="230px" ><mark class="rounded bg-success text-light ">{{i['status']}}</mark></td>
      <td>
          {% endif %}
          {% if i['status'] == 'Cancelado' %}
        <td width="230px" ><mark class="rounded bg-danger text-light ">{{i['status']}}</mark></td>
      <td>
          {% endif %}


          <form action="{{url_for('atualizar_status', id_cliente=id_cliente, numero_pedido=i['numero_pedido'], id_pedido=i['id_pedido'])}}" class=" " method="POST">


  <div class="mb form-check">
    <input type="radio" class="form-check-input" name="radio1" id="checkbox1" value="option1">
    <label class="form-check-label" >Preparando</label>
  </div>
  <div class="mb form-check">
    <input type="radio" class="form-check-input" name="radio1" id="checkbox2" value="option2">
    <label class="form-check-label" >Saiu p/ Entrega</label>
  </div>
  <div class="mb form-check">
    <input type="radio" class="form-check-input" name="radio1" id="checkbox3" value="option3" >
    <label class="form-check-label" >Finalizado</label>
  </div>
   <div class="mb form-check">
    <input type="radio" class="form-check-input" name="radio1" id="checkbox4" value="option4" >
    <label class="form-check-label" >Cancelar</label>
  </div>

              <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                  <button  class="btn btn-outline-success" href="{{url_for('atualizar_status', id_cliente=id_cliente, numero_pedido=i['numero_pedido'], id_pedido=i['id_pedido'])}}">Atualizar</button>
              </div>

</form>


      </td>
    </tr>

  </tbody>



    {% endfor %}

</table>
{% endblock%}